.button {
    background-color: rgb(255, 130, 40);
    border: none;
    color: white;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin:5px auto;
}
.button_green {
    background-color: rgba(0, 255, 0, 0.5);
    border: none;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 3vw;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin:5px auto;
}
.button_red {
    background-color: #FF0000;
}

.button_demo {
    background-color: rgba(0, 255, 0, 0.5);
    text-align: center;
    padding: 20px 20px;
    font-size: 4vw;
    font-weight: bold;
    width: 90%;
    margin:5px auto;
}

.button_restful {
    background-color: rgba(0, 0, 255, 0.5);
    text-align: center;
    padding: 20px 20px;
    font-size: 4vw;
    font-weight: bold;
    width: 90%;
    margin:5px auto;
}

.button_smart_patrol {
    background-color: rgba(255, 123, 0, 0.719);
    text-align: center;
    padding: 20px 20px;
    font-size: 4vw;
    font-weight: bold;
    width: 90%;
    margin:5px auto;
}